<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Ticket Resolution</title>
  <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<style>
  hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-top: 0.25px solid rgba(0, 0, 0, 0.1);
  }
</style>

<body>

  <nav class="navbar p-0 fixed-top d-flex flex-row">
    <div style="width: 100%;" class="navbar-menu-wrapper d-flex align-items-stretch">
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown"
            aria-expanded="false">
            <div class="nav-profile-img">
              <img src="{% static 'images/faces/face1.jpg' %}" alt="image">
              <span class="availability-status online"></span>
            </div>
            <div class="nav-profile-text">
              <p class="mb-1 text-black">{{ user.emp_name }}</p>
            </div>
          </a>
          <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="#">
              <i class="mdi mdi-cached me-2 text-success"></i> Activity Log </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="mdi mdi-logout me-2 text-primary"></i> Sign-out </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
            data-bs-toggle="dropdown">
            <i class="mdi mdi-bell-outline"></i>
            <span class="count-symbol bg-danger"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
            aria-labelledby="notificationDropdown">
            <h6 class="p-3 mb-0">Notifications</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-success">
                  <i class="mdi mdi-calendar"></i>
                </div>
              </div>
              <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                <h6 class="preview-subject font-weight-normal mb-1">Event today</h6>
                <p class="text-gray ellipsis mb-0"> Just a reminder that you have an event today </p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-warning">
                  <i class="mdi mdi-settings"></i>
                </div>
              </div>
              <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                <h6 class="preview-subject font-weight-normal mb-1">Settings</h6>
                <p class="text-gray ellipsis mb-0"> Update dashboard </p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-info">
                  <i class="mdi mdi-link-variant"></i>
                </div>
              </div>
              <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                <h6 class="preview-subject font-weight-normal mb-1">Launch Admin</h6>
                <p class="text-gray ellipsis mb-0"> New admin wow! </p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <h6 class="p-3 mb-0 text-center">See all notifications</h6>
          </div>
        </li>
        <li class="nav-item nav-logout d-none d-lg-block">
          <a class="nav-link" href="{% url 'home' %}">
            <i class="mdi mdi-power"></i>
          </a>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
        data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>
  <div class="container-fluid page-body-wrapper">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">
          Ticket Details
        </h3>
      </div>
      <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="template-demo">
                <div class="row">
                  <div class="col-sm-9">Ticket ID</div>
                  <div class="col-sm-3">{{ticket.id}}</div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-9">Ticket Status</div>
                  <div class="col-sm-3">
                    {% if ticket.status == "Pending" %}
                    <label class="badge badge-gradient-warning">PENDING</label>
                    {% endif %}
                    {% if ticket.status == "In-Progress"  %}
                    <label class="badge badge-gradient-info">IN PROGRESS</label>
                    {% endif %}
                    {% if ticket.status == "Completed"  %}
                    <label class="badge badge-gradient-success">COMPLETED</label>
                    {% endif %}
                    {% if ticket.status == "Rejected" %}
                    <label class="badge badge-gradient-danger">REJECTED</label>
                    {% endif %}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-9">
                    Created On:
                  </div>
                  <div class="col-sm-3">
                    {{ ticket.created_at }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-9">
                    Last Updated:
                  </div>
                  <div class="col-sm-3">
                    {{ ticket.updated_at }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-9">
                    Tracking ID:
                  </div>
                  <div class="col-sm-3">
                    {{ ticket.tracking_id }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="template-demo">
                <div class="row">
                  <div class="col">
                    <h4>Subject</h4>
                    <p>
                      {{ticket.metadata.subject}}
                    </p>
                    <h4>Description</h4>
                    <div style="height: 150px; overflow: auto;">
                      <p>
                        {{ ticket.metadata.description}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-13 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="template-demo">
              <div class="row">
                <div class="col">
                  <label for="">Update Status:</label> <br> <br>
                  <label for="">Forward to Department</label>
                </div>
                <div class="col">
                  <div class="btn-group dropright">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      {{ticket.status}}
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Pending</a>
                      <a class="dropdown-item" href="#">Completed</a>
                      <a class="dropdown-item" href="#">In-Progress</a>
                      <a class="dropdown-item" href="#">Rejected</a>
                    </div>
                  </div> <br> <br>
                  <div class="btn-group dropright">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Student Loan
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Money Transfer</a>
                      <a class="dropdown-item" href="#">Prepaid Card</a>
                      <a class="dropdown-item" href="#">Mortgage</a>
                      <a class="dropdown-item" href="#">Debt Collection</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <form action="" class="forms-sample">
                    <div class="col-sm">
                      <label for="">Comments</label>
                      <textarea class="form-control" cols="1" rows="3"></textarea>
                    </div>
                    <br>
                    <div class="row">
                      <button class="btn btn-light">Cancel</button>
                      <button type="Submit" class="btn btn-gradient-primary me-2">Submit</button>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
  </div>

  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <script>
    $('#bologna-list a').on('click', function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <script>
    $('.dropdown-toggle').dropdown('update')
  </script>
</body>

</html>